@import "tailwindcss";

:root {
  --background: #0a0a0a; /* Màu nền tối mặc định */
  --foreground: #ededed; /* Màu chữ sáng mặc định */
  --font-geist-sans: ''; /* Biến font Geist Sans (sẽ được gán trong JS) */
  --font-geist-mono: ''; /* Biến font Geist Mono (sẽ được gán trong JS) */
}

body {
  background-color: var(--background); /* Sử dụng biến CSS cho màu nền */
  color: var(--foreground); /* Sử dụng biến CSS cho màu chữ */
  font-family: var(--font-geist-sans), sans-serif; /* Sử dụng biến CSS cho font chính */
}

header{
  background-color: #666060;
  padding: 10px;
  font-size: 24px;
}

input{
  border: 1px solid rgb(88, 87, 87);
  border-radius: 3px;
}

.video-container {
  width: 100%; /* Chiều rộng khung cố định */
  height: 225px; /* Chiều cao khung cố định (tỷ lệ 16:9) */
  background-color: black; /* Màu nền cho khung đen */
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Thu nhỏ video để vừa với container, giữ nguyên tỷ lệ */
}

.movieImg{
  height: 200px;
  padding: 10px;
  margin: auto;
}
.SliderContainer{
  width: 400px;
}

.slide{
  height: 200px;
  margin: 10px auto;
  border-radius: 5px;
}

.autoComplete{
  display: flex;
  width: fit-content;
  gap: 10px;
}
